<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://i.imgur.com/NoMSBp7.jpg)">
  <div >
    <h1>Game ON</h1>
    <i class="fab fa-pied-piper-alt"></i>
    <p> <span id="banner-typed-text"></span></p>
    <div class="arrow-down">
      <a href="#middle"><i class="fas fa-angle-down"></i></a>
    </div>
  </div>
</div>

<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
  <h1 class="text-center headline-index">Discover a new Game every Day</h1>
  <div class="seach-input form-inline">
    <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Game"
    %>
    <%= submit_tag "Search", class: "search-button stop"%>
    <% end %>
  </div>
</div>


<div class="index-box">
<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="cards">
  <% @games.each do |game| %>
    <% if game.photo.attached? %>
      <% background_url = cl_image_path game.photo.key, width: 300, height: 400, crop: :fill %>
    <% else %>
      <% background_url = 'https://i.redd.it/d5g2jaawgw431.jpg'%>
    <% end %>
    <div id="middle" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
      <h1 class="game-title"> <%= link_to game.title, game_path(game) %> </h1>
    </div>
  <% end  %>
</div>
</div>

</div>




