<div class="image-content">
  <div class="show-box">

<div class="title">
  <div>
    <h1><%= @game.title %></h1>
  </div>
  <div>
    <% if @game.availability%>
      <p id="available"><%= "available" %></p>
    <% else %>
      <p id="unavailable"><%= "unavailable" %></p>
    <% end %>
  </div>
</div>

<p><strong>Category:</strong> <%= @game.category %> </p>
<p><strong>Condition:</strong> <%= @game.condition %> </p>
<p><strong>Price per day:</strong> <%=@game.price_per_day%> $</p>
<p><strong>Description:</strong></p>
<p class="description-text"> <%= @game.description %> </p>

<br>

<div class = "links">
  <div class="button">
    <%= link_to "back", games_path %>
  </div>
  <div class="button">
    <%= link_to "Rent Game", new_game_rental_path(@game) %>
  </div>
</div>

</div>

<div class="show-image">
<img src="https://images5.alphacoders.com/956/956312.png" alt="super mario">
</div>

</div>




