<div class="show-box">

<div class="title">
  <div>
    <h1><%= @game.title %></h1>
  </div>
  <div>
    <% if @game.availability%>
      <p id="available"><%= "available" %></p>
    <% else %>
      <p id="unavailable"><%= "unavailable" %></p>
    <% end %>
  </div>
</div>

<br>
<%= @game.category %>
<br>
<%= @game.condition %>
<br>
<%= @game.price_per_day %>
<br>
<%= @game.description %>
<br>

<div class = "links">
  <div class="button">
    <%= link_to "back", games_path %>
  </div>
  <div class="button">
    <%= link_to "Rent Game", new_game_rental_path(@game) %>
  </div>
</div>


</div>

