<div class="image-content">
  <div class="show-box">

<div class="title">
  <div>
    <h1><%= @game.title %></h1>
  </div>
  <div>
    <% if @game.availability%>
      <p id="available"><%= "available" %></p>
    <% else %>
      <p id="unavailable"><%= "unavailable" %></p>
    <% end %>
  </div>
</div>

<p><strong>Category:</strong> <%= @game.category %> </p>
<p><strong>Condition:</strong> <%= @game.condition %> </p>
<p><strong>Price per day:</strong> <%=@game.price_per_day%> $</p>
<p><strong>Description:</strong></p>
<p class="description-text"> <%= @game.description %> </p>

<br>

<div class = "links">
  <div class="button">
    <%= link_to "back", games_path %>
  </div>
  <div class="button">
    <%= link_to "Rent Game", new_game_rental_path(@game) %>
  </div>
    <% if policy(@game).destroy?%>
        <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: 'Delete this Game?'}, class: "show-button" %>
    <% end %>
</div>

</div>

<div class="show-image">
  <% if @game.photo.attached? %>
    <%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>
  <%else %>
    <img src="https://images5.alphacoders.com/956/956312.png" alt="super mario">
  <% end %>
</div>

</div>




